<div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src={{photo}} width="300" height="300" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{name}} {{lastName}}</h3>
            <p>{{team}}</p>
        </div>
    </div>
</div>