* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100vw;
    color: #fff;
    background: #352f5b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    background-color: red;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-item {
    margin-top: 2rem;
}

.search {
    margin-top: 1rem;
}

ul {
    width: 50vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}


input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}

.todos li{
    background: #423a6f;
  }
  .delete{
    cursor: pointer;
  }

.add {
    display: flex;
    flex-direction: column;
}

.filtered {
    display: none !important;
}