nav {
    background-color: #e611d4;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #88d3ce;
  }

  .activated {
    text-shadow:1px 0px 3px white;
    color: #fff;
    border-bottom: black solid 2px;
    padding-bottom: 5px;
  }
